.rodape{
    background-color: #6278F7;
    display: flex;
    padding: 50px;
    justify-content: space-around;
    align-items: center;
    background-image: url('../../../public/imagens/fundo.png');
    background-position: right bottom;
    flex-wrap: wrap;
}

.rodape div{
    width: 20%;
    display: flex;
    justify-content: space-around;
}

.rodape h5{
    color: #ffff;
    font-weight: 500;
    font-size: 20px;
}