.formulario {
    display: flex;
    gap: 20px;
    justify-content: center;
    margin: 80px 50px;
    flex-wrap: wrap;
}

.formulario form {
    flex: 1;
    background-color: #F2F2F2;
    border-radius: 20px;
    padding: 36px 64px;
    box-shadow: 8px 8px 16px rgba(0,0,0, 0.08);
}